<div class="container mx-auto p-5 h-screen justify-items-center">
  <div class="p-6 justify-items-center ">
    <!-- Form to gets user value to create stocks -->
    <form class="space-y-2 pb-8 " [formGroup]="portfolioForm" (ngSubmit)="createPortfolio()">
      <div class="grid grid-cols-1 justify-items-center lg:grid-col-2 ">
        <div class="w-full md:w-1/2 px-3 pb-4 mb-6 md:mb-0">
          <label class="block uppercase  tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
            Stock Name
          </label>
          <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm   rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="name">

            <option class="text-blue-700 bg-blue-200 font-semibold" *ngFor="let stocks of stockOptions"
              [ngValue]="stocks.T"> {{stocks.T}} = Open:{{stocks.o}} Close:{{stocks.c}}
              High:{{stocks.h}} Low:{{stocks.l}} </option>

          </select>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-red-500 text-xs font-bold mb-2" for="grid-first-name"
            *ngIf="portfolioForm.get('name')?.hasError('required')&&(portfolioForm.get('name')?.touched||portfolioForm.get('name')?.dirty)"
            color="danger">
            Stock Name is required!
          </label>
        </div>
        <div class="w-full md:w-1/2 px-3 ">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
            Stock Description
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-last-name" type="text" placeholder="" formControlName="description">
        </div>
        <div class="w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
            Invested Amount
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-last-name" type="number" placeholder="" formControlName="stockValue">
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
            Number of Stocks
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            type="number" placeholder="" formControlName="stockQty">
        </div>
        <div class="flex flex-wrap mb-6 mt-4 justify-center">
          <div class="w-full px-2 justify-center">
            <button class="bg-yellow-500  text-white font-bold py-2 px-4 rounded"
              [disabled]="portfolioForm.invalid">Add</button>
          </div>
        </div>
      </div>

    </form>
    <div class="overflow-auto rounded-lg shadow">
      <table class=" w-full p-4 table-auto min-w-max text-sm border-separate">
        <thead class="bg-blue-200">
          <tr>
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">Stock Name</th>
            <th class="px-4 py-2">Stock Description</th>
            <th class="px-4 py-2">Invested Amount</th>
            <th class="px-4 py-2">Stock Units</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let stock of allPortfolios">
          <tr class="p-2">
            <th scope="row" class="px-4 py-2 whitespace-nowrap"> {{stock.id}} </th>
            <td class="px-4 py-2 whitespace-nowrap"> {{stock.name}} </td>
            <td class=" px-4 py-2 whitespace-nowrap">{{stock.description}}</td>
            <td class=" px-4 py-2 whitespace-nowrap">{{stock.stockValue}}</td>
            <td class=" px-4 py-2 whitespace-nowrap">{{stock.stockQty}}</td>
            <td><button class=" btn btn-danger bg-green-300 hover:bg-blue-300 text-white font-bold rounded-lg w-20 h-10"
                (click)="deleteStock(stock)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
